[package]
name = "sourcepawn_lsp"
version = "0.10.10"
edition = "2021"
description = "Language Server implemention for the SourcePawn programming language."
license = "GPL-3.0"
exclude = [".gitattributes", ".gitignore", ".github/**", ".vscode/**", "*.snap"]

[[bin]]
name = "sourcepawn_lsp"
test = false

[lib]
doctest = false


[dependencies]
lsp-server = "0.6.0"
lsp-types = "0.94.0"
serde = "1.0.147"
serde_json = "^1.0.83"
derive-new = "0.5"
tree-sitter = "0.20.9"
tree-sitter-sourcepawn = "0.5.1"
anyhow = "1.0.66"
crossbeam-channel = "0.5.6"
dashmap = "5.4.0"
threadpool = "1.8.1"
walkdir = "2.3.2"
log = "0.4.17"
rowan = "0.15.10"
lazy_static = "1.4.0"
regex = "1.7.0"
notify = "5.1.0"
fxhash = "0.2.1"
tempfile = "3.4.0"
clap = { version = "4.1.13", features = ["derive"] }
fern = "0.6.2"
humantime = "2.1.0"
sourcepawn_lexer = "0.1.0"
sourcepawn_preprocessor = { path = "src/sourcepawn_preprocessor" }
sentry = "0.31.3"
strip_bom = "1.0.0"

[dependencies.uuid]
version = "1.3.0"
features = ["v4"]

[dependencies.openssl]
optional = true
version = "*"

[dev-dependencies]
assert_unordered = "0.3.5"
criterion = { version = "0.4.0" }
insta = { version = "1.28.0", features = ["glob", "redactions", "json"] }

[profile.dev]
debug = 2

[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3

[profile.release]
debug = true

[features]
# If compiling on a system without OpenSSL installed, or cross-compiling for a different
# architecture, enable this feature to compile OpenSSL as part of the build.
# See https://docs.rs/openssl/#vendored for more.
static_ssl = ['openssl/vendored']
