.github/
.nyc_output/
.vscode/
.vscode-test/
bin/*.wasm
coverage/
fileicons/SM.afphoto
fileicons/SP.afphoto
images/
node_modules/
scripts/
src/
.gitignore
.vscodeignore
CODE_OF_CONDUCT.md
esbuild.js
package-lock.json
tsconfig.json